In [31]:
import pandas as pd

In [33]:
df = pd.read_csv('budget_data.csv')
df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [44]:
# Total months
total_months = len(df)
print(total_months)

86

In [36]:
df['Change'] = df['Profit/Losses'].shift()
df.head()

       Date  Profit/Losses    Change
0  Jan-2010         867884       NaN
1  Feb-2010         984655  867884.0
2  Mar-2010         322013  984655.0
3  Apr-2010         -69417  322013.0
4  May-2010         310503  -69417.0

In [43]:
# Total profit
total = df['Profit/Losses'].sum()
print(total)

38382578

In [40]:
df['Monthly_Change'] = df['Profit/Losses'] - df['Change']
df.head()

       Date  Profit/Losses    Change  Monthly_Change
0  Jan-2010         867884       NaN             NaN
1  Feb-2010         984655  867884.0        116771.0
2  Mar-2010         322013  984655.0       -662642.0
3  Apr-2010         -69417  322013.0       -391430.0
4  May-2010         310503  -69417.0        379920.0

In [45]:
# Average change
average_change = df['Monthly_Change'].mean()
print(average_change)

-2315.1176470588234

In [48]:
df.set_index('Date',inplace=True)
df.head()

          Profit/Losses    Change  Monthly_Change
Date
Jan-2010         867884       NaN             NaN
Feb-2010         984655  867884.0        116771.0
Mar-2010         322013  984655.0       -662642.0
Apr-2010         -69417  322013.0       -391430.0
May-2010         310503  -69417.0        379920.0

In [59]:
# Month of greatest increase
df['Monthly_Change'].idxmax()

'Feb-2012'

In [60]:
# Month of greatest decrease
df['Monthly_Change'].idxmin()

'Sep-2013'

In [69]:
df.loc[df['Monthly_Change'].idxmax()]['Monthly_Change']

1926159.0

In [71]:
df.loc[df['Monthly_Change'].idxmin()]['Monthly_Change']

-2196167.0

In [18]:
months = 0
total_profit_or_loss = 0
monthly_change = []

import csv

with open('budget_data.csv', 'r') as csvfile:
    reader = csv.reader(csvfile, delimiter = "," , quotechar='|')
    
    # Read headers
    next(reader)
    
    # Read rows with actual data
    for row in reader:
        
        # Get total count of months
        months += 1
        
        # Get total profit or loss
        total_profit_or_loss += int(row[1])
        
        # Update monthly change

In [19]:
print(months)

86

In [20]:
print(total_profit_or_loss)

38382578

In [30]:
import numpy as np
np.mean(monthly_change[1:])

250296.0

In [23]:
monthly_profit_change.append(total_profit[i+1]-total_profit[i])

NameError: name 'monthly_profit_change' is not defined

In [32]:
max_increase_value = max(change_in_monthly_profit)
max_decrease_value = min(change_in_monthly_profit)

TypeError: 'int' object is not iterable

In [29]:
max_increase_month = monthly_profit_change.index(max(monthly_profit_change)) + 1
max_decrease_month = monthly_profit_change.index(min(monthly_profit_change)) + 1

NameError: name 'monthly_profit_change' is not defined

In [31]:
print("Financial Analysis")
print("----------------------------")
print(f"Total Months: {len(month)}")
print(f"Total: ${sum(total_profit)}")
print(f"Average Change: {round(sum(monthly_profit_change)/len(monthly_profit_change),2)}")
print(f"Greatest Increase in Profits: {total_months[max_increase_month]} (${(str(max_increase_value))})")
print(f"Greatest Decrease in Profits: {total_months[max_decrease_month]} (${(str(max_decrease_value))})")

Financial Analysis
----------------------------

TypeError: object of type 'int' has no len()